@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-stone-900 bg-white;
    }
}

.bg-butcher-paper {
    background-color: #FAF9F6;
    background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fade-in-up 0.5s ease-out forwards;
}